<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bootcamp</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password123</property>

        <!-- Hibernate settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>

        <!-- HikariCP Connection Pool Settings -->
        <property name="hibernate.hikari.minimumIdle">5</property>
        <property name="hibernate.hikari.maximumPoolSize">20</property>
        <property name="hibernate.hikari.idleTimeout">300000</property>
        <property name="hibernate.hikari.maxLifetime">1800000</property>
        <property name="hibernate.hikari.connectionTimeout">30000</property>
        <property name="hibernate.hikari.poolName">HibernateHikariCP</property>
        <property name="hibernate.transaction.jta.platform">org.hibernate.service.jta.platform.internal.NoJtaPlatform</property>


        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>


        <!-- Entity Mappings -->
        <mapping class="io.reactivestax.entity.Students"/>
        <mapping class="io.reactivestax.entity.Enrollments"/>
        <mapping class="io.reactivestax.entity.Courses"/>
    </session-factory>
</hibernate-configuration>
