<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bootcamp</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password123</property>

        <!-- HikariCP Connection Pool Settings -->
        <property name="hibernate.hikari.minimumIdle">5</property>
        <property name="hibernate.hikari.maximumPoolSize">20</property>
        <property name="hibernate.hikari.idleTimeout">300000</property>
        <property name="hibernate.hikari.maxLifetime">1800000</property>
        <property name="hibernate.hikari.connectionTimeout">30000</property>
        <property name="hibernate.hikari.poolName">HibernateHikariCP</property>
        <property name="hibernate.transaction.jta.platform">org.hibernate.service.jta.platform.internal.NoJtaPlatform</property>
g
        <!-- Echo all executed SQL to stdout -->
<!--        <property name="hibernate.show_sql">true</property>-->

        <!-- Format SQL nicely -->
<!--        <property name="hibernate.format_sql">true</property>-->


        <!-- Automatically create/update tables based on entity annotations -->
<!--        <property name="hibernate.hbm2ddl.auto">update</property>-->

        <!-- Drop and re-create the database schema on startup -->

        <mapping class="io.reactivestax.tradesprocessor.entity.School"/>
        <mapping class="io.reactivestax.tradesprocessor.entity.Position"/>
        <mapping class="io.reactivestax.tradesprocessor.entity.TradePayload"/>
        <mapping class="io.reactivestax.tradesprocessor.entity.SecurityCustomReference"/>
    </session-factory>
</hibernate-configuration>
